.Show {
  margin: 40px;
}

.ant-row {
  margin: 0px;
  row-gap: 10px;
  justify-content: center;
}

.ant-card {
  margin: 5px;
  border-right: none;
  border-left: none;
}

.ant-card-meta {
  text-align: center;
}

.ant-card-actions {
  border: none;
}

.anticon svg {
  fill: #c92976;
}

.ant-btn-round {
  border-color: #c92976;
  background-color: #c92976;
  color: white;
}

.ant-card-extra {
  padding: 13px 0px;
}

.ant-input-number {
  color: #c92976;
  border: 1px solid #c92976;
  width: 50px;
}

.ant-input-number-input {
  height: 23px;
}
